$colorForMovieImgContainer: #fefbd8;
$bColorForMovieAndSeatContainer: rgb(240, 219, 218);
$colorForOccupiedSeats: rgb(253, 114, 0);

$breakpoint-tablet: 820px;
$breakpoint-mobile: 600px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@mixin sizeForMovieAndSeatContainer {
  height: 400px;
  width: 400px;
  border-radius: 20px;
}

@mixin seat {
  height: 17px;
  width: 17px;
  margin: 3px;
  border-radius: 50%;
  background: rgb(200, 200, 200);
}

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

