.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#movie-collection-now-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 20px;
  padding-bottom: 20px;
}

#movie-collection-now-playing .position-for-img-and-caption {
  position: relative;
}

#movie-collection-now-playing .position-for-img-and-caption img {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#movie-collection-now-playing .position-for-img-and-caption .mask {
  margin: 0px 5px 0px 5px;
  position: absolute;
  height: 100%;
  width: 200px;
  background: rgba(24, 3, 3, 0.8);
  border-radius: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 0;
  cursor: pointer;
}

#movie-collection-now-playing .position-for-img-and-caption .mask .movie-title {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  margin: auto;
  text-align: center;
}

#movie-collection-now-playing .position-for-img-and-caption .mask .btn-details {
  position: absolute;
  top: 73%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 6px 8px;
}

#movie-collection-now-playing .position-for-img-and-caption .mask .btn-details:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  background: white;
}

#movie-collection-now-playing .position-for-img-and-caption .mask .btn-book-seats {
  position: absolute;
  top: 88%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 16px;
  padding: 6px 8px;
}

#movie-collection-now-playing .position-for-img-and-caption .mask .btn-book-seats:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05) translate(-50%, -50%);
          transform: scale(1.05) translate(-50%, -50%);
  background: white;
}

#movie-collection-now-playing .position-for-img-and-caption .mask:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#movie-collection-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 20px;
}

#movie-collection-popular .position-for-img-and-caption-for-popular {
  position: relative;
}

#movie-collection-popular .position-for-img-and-caption-for-popular img {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular {
  margin: 0px 5px 0px 5px;
  position: absolute;
  height: 100%;
  width: 200px;
  background: rgba(24, 3, 3, 0.8);
  border-radius: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 0;
  cursor: pointer;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular .movie-title {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  margin: auto;
  text-align: center;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular .btn-details {
  position: absolute;
  top: 73%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 6px 8px;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular .btn-details:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  background: white;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular .btn-book-seats {
  position: absolute;
  top: 88%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 16px;
  padding: 6px 8px;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular .btn-book-seats:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05) translate(-50%, -50%);
          transform: scale(1.05) translate(-50%, -50%);
  background: white;
}

#movie-collection-popular .position-for-img-and-caption-for-popular .mask-popular:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

h1 {
  margin-top: 100px;
  text-align: center;
  overflow: visible;
}

main {
  padding-top: 70px;
}

main .carousel-inner {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

main .carousel-inner .carousel-item .carousel-caption {
  top: 37%;
}

main .carousel-inner .carousel-item .carousel-caption .toptitle {
  font-size: 60px;
  text-shadow: 1px 0 10px black;
}

main .carousel-inner .carousel-item .carousel-caption .topButtons {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  color: black;
}

main .carousel-inner .carousel-item .carousel-caption .topButtons:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: white;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-header .modal-title {
  margin: 0 auto;
  font-size: 30px;
}

.modal-header .btn-close {
  padding-top: 10px;
}

.modal-header #tagline {
  padding-top: 10px;
  font-style: italic;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body #genre-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body #genre-container .genre {
  background-color: rgba(22, 210, 235, 0.3);
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
}

.modal-body .trailer-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  width: 90%;
  padding-top: 56.25%;
  margin-top: 20px;
}

.modal-body .trailer-container #trailer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-body #trailer-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-body h5 {
  margin-top: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 25px;
  font-weight: bold;
}

.modal-body #overview {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: justify;
  width: 90%;
}

.modal-body #cast {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-body #cast .cast {
  margin: 0 5px 0 5px;
}

.modal-body #crew {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body {
  background: whitesmoke;
}

body .navbar-bookseats {
  position: fixed;
}

body .main-container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 820px) {
  body .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .main-container .movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  background: #d4e2f3;
}

@media screen and (max-width: 820px) {
  body .main-container .movie-container {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  body .main-container .movie-container {
    height: 350px;
    width: 350px;
    border-radius: 10px;
  }
}

body .main-container .movie-container .select-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 400px) {
  body .main-container .movie-container .select-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .main-container .movie-container #movieShowcase {
  height: 300px;
  width: 250px;
  margin-top: 25px;
  background: #fefbd8;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .movie-container #movieShowcase img {
  height: 250px;
  width: 190px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 400px) {
  body .main-container .movie-container #movieShowcase img {
    height: 200px;
    width: 160px;
  }
}

body .main-container .movie-container .movie-price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .main-container .seat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  background: #d4e2f3;
}

@media screen and (max-width: 820px) {
  body .main-container .seat-container {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  body .main-container .seat-container {
    height: 350px;
    width: 350px;
    border-radius: 10px;
  }
}

body .main-container .seat-container .movie-screen {
  height: 90px;
  width: 250px;
  -webkit-clip-path: polygon(0 0, 100% 0, 91% 84%, 9% 84%);
          clip-path: polygon(0 0, 100% 0, 91% 84%, 9% 84%);
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: lightblue;
}

body .main-container .seat-container .seat-layout {
  height: 230px;
  width: 370px;
  border-radius: 10px;
  background: #fefbd8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 400px) {
  body .main-container .seat-container .seat-layout {
    width: 340px;
  }
}

body .main-container .seat-container .seat-layout .seat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .seat-container .seat-layout .seat-row .seat {
  height: 17px;
  width: 17px;
  margin: 3px;
  border-radius: 50%;
  background: #c8c8c8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

body .main-container .seat-container .seat-layout .seat-row .occupied {
  background: #fd7200;
}

body .main-container .seat-container .seat-layout .seat-row .aisle-right {
  margin-right: 15px;
}

body .main-container .seat-container .seat-layout .seat-row .aisle-left {
  margin-left: 15px;
}

body .main-container .seat-container .showcase-container {
  height: 40px;
  width: 370px;
  margin-top: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-container .seat-container .showcase-container .seat-showcase {
  height: 30px;
  width: 300px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main-container .seat-container .showcase-container .seat-showcase .example-seat {
  height: 17px;
  width: 17px;
  margin: 3px;
  border-radius: 50%;
  background: #c8c8c8;
}

body .main-container .seat-container .showcase-container .seat-showcase .selected {
  background: #577bf1;
}

body .main-container .seat-container .showcase-container .seat-showcase .occupied {
  background: #fd7200;
}

body .price-container {
  text-align: center;
  margin-bottom: 30px;
}

body .selected {
  background: #577bf1 !important;
}
/*# sourceMappingURL=main.css.map */