// bookseats.html
@mixin sizeForMovieAndSeatContainer {
  height: 400px;
  width: 400px;
  border-radius: 20px;
}

@mixin sizeForMovieAndSeatContainer-minsize {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}

@mixin seat {
  height: 17px;
  width: 17px;
  margin: 3px;
  border-radius: 50%;
  background: rgb(200, 200, 200);
}

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media query
$breakpoint-tablet: 820px;
$breakpoint-mobile: 400px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}