
// used for bookseats html
$colorForMovieImgContainer: #fefbd8;
$bColorForMovieAndSeatContainer: rgb(212, 226, 243);
$colorForOccupiedSeats: rgb(253, 114, 0);
$themeColor: rgb(160, 200, 250);

// Media query
$breakpoint-tablet: 820px;
$breakpoint-mobile: 400px;
$breakpoint-650: 650px;
