
// used for bookseats html
$colorForMovieImgContainer: #fefbd8;
$bColorForMovieAndSeatContainer: rgb(212, 226, 243);
$colorForOccupiedSeats: rgb(253, 114, 0);

// Media query
$breakpoint-tablet: 820px;
$breakpoint-mobile: 400px;
$breakpoint-650: 650px;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}