.carousel {
.carousel-inner {
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  
  .carousel-item {
    // position: relative;
    height: 100%;
    .carousel-caption {
      bottom: 20%;

      .topimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .toptitle {
        font-size: 60px;
        text-shadow:1px 0 10px black;
      }

      .topButtons {
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        color: black;

        &:hover {
          transition: 0.2s;
          transform: scale(1.05);
          background: rgba(255, 255, 255, 1);
        }
      }
    
    }
  }

  .carousel-control-prev, .carousel-control-next {
    margin: 0!important;
  }
}
}
