.modal-header {
  display: flex;
  flex-direction: column;
  .modal-title {
    margin: 0 auto;
    font-size: 30px;
  }
  .btn-close {
    padding-top: 10px;
  }

  #tagline {
    padding-top: 10px;
    font-style: italic;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  #genre-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .genre {
      background-color: rgba(22, 210, 235, 0.3);
      padding: 10px;
      border-radius: 5px;
      margin: 0 5px 0 5px;
    }
  }

  .trailer-container {
    align-self: center;
    position: relative;
    width: 90%;
    padding-top: 56.25%;
    margin-top: 20px;

    #trailer {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  #trailer-name {
    align-self: center;
  }
  h5 {
    margin-top: 15px;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
  }

  #overview {
    align-self: center;
    text-align: justify;
    width: 90%;
  }

  #cast {
    align-self: center;
    .cast {
      margin: 0 5px 0 5px;
    }
  }
  
  #crew {
    align-self: center;
  }
}

// modal for genre
.modal-body-for-genre {
  display: flex;
  flex-wrap: wrap;
}
