body {
  background: whitesmoke;

  .navbar-bookseats {
    position: fixed;
  }
  
  .main-container {
    padding-top: 120px;
    @include display;
    @include max-screen($breakpoint-tablet) {
      flex-direction: column;
    }
    
    .movie-container {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      @include sizeForMovieAndSeatContainer;
      @include max-screen($breakpoint-tablet) {
        margin-right: 0;
      }
      @include max-screen($breakpoint-mobile) {
        @include sizeForMovieAndSeatContainer-minsize;
      }
      background: $bColorForMovieAndSeatContainer;
      .link-to-main-page {
        position: absolute;
        top: -7%;
        left: 2%;
        color: black;
      }

      #movie-title-bookseats {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }

      .select-box {
        align-self: center;
        @include max-screen($breakpoint-mobile) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      #moviedate {
        margin: 0 auto;
        width: 50%;
      }
      #movieShowcase {
        height: 300px;
        width: 250px;
        margin-top: 10px;
        background: $colorForMovieImgContainer;
        align-self: center;
        border-radius: 10px;
        @include display;

        img {
          height: 250px;
          width: 190px;
          align-self: center;
          @include max-screen($breakpoint-mobile) {
            height: 200px;
            width: 160px;
          }
        }
      }

      
      #priceTable {
        margin-top: 15px;
        display: flex;
        // align-self: center;
        justify-content: center;
        @include max-screen($breakpoint-tablet) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        p {
          margin-right: 13px;
        }
      }

      .movie-price {
        align-self: center;
      }
    }

    .seat-container {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      @include sizeForMovieAndSeatContainer;
      @include max-screen($breakpoint-tablet) {
        margin-left: 0;
        margin-top: 10px;
      }
      @include max-screen($breakpoint-mobile) {
        @include sizeForMovieAndSeatContainer-minsize;
      }
      background: $bColorForMovieAndSeatContainer;
    

      .movie-screen {
        height: 90px;
        width: 250px;
        clip-path: polygon(0 0, 100% 0, 91% 84%, 9% 84%);
        margin-top: 20px;
        align-self: center;
        background: lightblue;
      }

      .seat-layout {
        padding-top: 15px;
        height: 230px;
        width: 370px;
        border-radius: 10px;
        background: $colorForMovieImgContainer;
        align-self: center;
        @include max-screen($breakpoint-mobile) {
          width: 340px;
        }

        .seat-row {
          @include display;
          .seat {
          @include seat;
          align-self: center;
          cursor: pointer;
          }

          .occupied {
            background: $colorForOccupiedSeats;
          }

          .aisle-right {
            margin-right: 15px;
          }

          .aisle-left {
            margin-left: 15px;
          }

          .each-seat-container {
            position: relative;
            width: 20px;
            height: 20px;

            

            .seat {
              position: absolute;
              z-index: 99;

              &:hover {
                z-index: 100;
              }

              &:hover + .balloon {
                opacity: 1;
                z-index: 99;
              }
            }

            .balloon {
              position: absolute;
              width: 30px;
              height: 20px;
              color: #555;
              font-size: 16px;
              background: #e0edff;
              opacity: 0;
              top: -150%;
              left: -10%;
              z-index: 0;
              border-radius: 7px 7px 0 0;
              
              &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -15px;
                border: 15px solid transparent;
                border-top: 15px solid #e0edff;     
                z-index: 0;
              }

              .balloon-word {
                display: flex;
                justify-content: center;
              }
            }
          }
          }
        }  
      }
      .showcase-container {
        height: 40px;
        width: 370px;
        margin-top: 10px;
        align-self: center;
        @include display;

        .seat-showcase {
          height: 30px;
          width: 300px;
          margin: 5px;
          display: flex;

          .example-seat {
            @include seat;
          }

          .selected {
            background: rgb(87, 123, 241);
          }
          .occupied {
            background: $colorForOccupiedSeats;
          }
        }
      }
      #chooseNumContainer {
        align-self: center;
        margin-top: 10px;

        #numOfAdults, #numOfKidsOrSenior {
          margin-right: 15px;
        }
      }
    }
  }

  .price-container {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;

    // #seat-and-price-info {
    //   margin-top: 30px;
    // }
  }

  .selected {
    background: rgb(87, 123, 241)!important;
  }


