
#movie-collection-now-playing, #movie-collection-popular, #movie-collection-anime {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;

  /* width */
&::-webkit-scrollbar {
  width: 0;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: rgb(6, 153, 146);
  border-radius: 10px;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 83, 79);
}
   
    img {
      margin: 0px 5px 0px 5px;
      cursor: pointer;
      border-radius: 10px;
      transition: 0s;
      transition-duration: 0.2s;
      transition-delay: 0.4s;
    }
    .movie-title {
      color: white;
      font-size: 23px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      width: 90%;
      margin: auto;
      text-align: center;
    }
}

.position-for-img-and-caption, .position-for-img-and-caption-for-popular, .position-for-img-and-caption-for-anime, .position-for-img-and-caption-for-genre {
  position: relative;
}

.mask, .mask-popular, .mask-anime, .mask-genre {
  margin: 0px 5px 0px 5px;
  position: absolute;
  height: 100%;
  width: 200px;
  background: rgba(24, 3, 3, 0.8);
  border-radius: 10px;
  transition-duration: 0.2s;
  transition-delay: 0.4s;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.02);
  }
}

#movie-collection-now-playing, #movie-collection-popular {
  padding-top: 20px;
}

#movie-collection-popular {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 20px;

    img {
      margin: 0px 5px 0px 5px;
      cursor: pointer;
      border-radius: 10px;
      transition: 0s;
      transition-duration: 0.2s;
      transition-delay: 0.4s;
    }
}

h1 {
  margin-top: 100px;
  text-align: center;
  overflow: visible;
}

main {
  padding-top: 70px;
}

