#movie-collection {
  display: flex;
  // justify-content: center;
  overflow-x: scroll;

  img {
    margin: 30px 5px 0px 5px;
    cursor: pointer;

    &:hover {
      transition: 0.2s;
      transform: scale(1.05);
    }
  }
}